* {
    font-family: helvetica, sans-serif;
    max-width: 600px;
    margin: auto;
    background-color: RGB(255, 255, 191);
}

html {
    padding: 2em;
}

.main-menu {
    text-align: center;
    padding-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    text-align: left;
    text-decoration: underline;
}

h4 {
    max-width: 650px;
    margin: auto;
}

.return {
    color: pink;
    margin: auto;
    text-align: center;
}

.header-image {
    margin-top: 30px;
    display: flex;
}

.final-thoughts {
    padding-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-flow: row wrap;
}

.flex-container ul {
    flex: 1;
}

li {
    min-width: 200px;
}

.header-image > img {
        max-width: 100%;
        height: auto;
        min-width: 30px;
}